.details-container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 1.75em;
}

.details-names {
  font-size: 32pt;
}

.details-date {
  font-size: 20pt;
  padding-top: .75em;
}

.details-location {
  font-size: 24pt;
}

.details-etc {
  font-size: 43pt;
  padding-left: .1em;
  transform: rotate(-10deg);
}

.details-link-container {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 13em;
  white-space: nowrap;
}

.whiskers {
  height: 2em;
  width: auto;
  transform: rotate(-10deg);
  animation: blink .8s infinite;
}

@keyframes blink {
  0% { opacity: 100%; }
  // 49% { opacity: 0; }
  50% { opacity: 0; }
  // 99% { opacity: 0; }
  100% { opacity: 100%; }
}

.whiskers-left {
  margin-top: 3em;
}

.details-col {
  display: flex;
  flex-direction: column;
  height: 125vh;
  justify-content: flex-end;
}

.further-details-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.further-details-text {
  margin: 0;
  padding: 2em 2em 0 2em;
}

.further-details-heading {
  font-size: 2em;
}

.lowercase-details-text {
  font-size: 1.15em;
}

.padding-top {
  padding-top: .75em;
}
