$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-color: white;
$hamburger-layer-width: 32px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 8px;
$hamburger-hover-opacity: 1;
$hamburger-types: (
  collapse,
);
