@import 'colors';
@import 'fonts';
@import 'hamburger-config';
@import '../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'nav';
@import 'landing';
@import 'details';
@import 'rsvp';
@import 'story';
@import 'nola';

body {
  margin: 0;
}

.center-contents {
  display: flex;
  justify-content: center;
}

.screen-width-img {
  height: auto;
  width: 100vw;
}

.hero-image {
  
  @media only screen and (max-width: 415px) {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}
