.landing-bg {
  background-image: url(../../assets/landing-desktop.jpg);
  background-size: cover;
  @media only screen and (max-width: 415px) {
    background-image: url(../../assets//landing-mobile.jpg);
  }
}
.landing-heading-container {
  padding: 2em;
}

.landing-heading {
 font-size: 39pt;
}