@import 'colors';

.nav-bar {
  background-color: $berry;
  color: white;
  display: flex;
  justify-content: space-between;
  letter-spacing: .07em;
}

.invisible-links-wrapper {
  display: inline-table;
}

.hamburger-container {
  display: none;
  height: 2rem;
  position: fixed;
  width: 2rem;
}

@media only screen and (max-width: 415px) {
  .nav-bar {
    align-items: center;
    bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    flex-wrap: wrap;
    height: 3.25rem;
    justify-content: center;
    padding-bottom: 0;
    position: fixed;
    right: 20px;
    transition-property: height, width;
    transition-duration: .5s;
    width: 3.5rem;
    z-index: 100;
  }

  .hamburger-container {
    display: inherit;
    position: relative;
    z-index: 1;
  }

  .invisible-links-wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 18pt;
    height: 0;
    justify-content: flex-end;
    overflow: hidden;
    padding-bottom: 2.5em;
    position: absolute;
    width: 0;
    transition: height .5s;
  }

  .nav-link {
    margin-top: 1em;
  }
}