$berry: #4B012C;
$wine: #2E011B;

.nav-bar {
  background-color: $berry;
  color: white;
  display: flex;
  justify-content: space-between;
  letter-spacing: .07em;
}

.invisible-links-wrapper {
  display: inline-table;
}

.hamburger-box {
  display: none;
  height: 2rem;
  position: fixed;
  width: 2rem;

  input[type=checkbox] {
    display: none;
  }

  label {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
  }

  .bun {
    position: absolute;
    height: .25rem;
    width: 100%;
    background-color: #fff;
    transition: all .5s;
  }

  .diagonal.bun-top {
    position: relative;
    float: left;
  }

  .horizontal {
    position: relative;
    float: left;
    margin-top: .5rem;
  }

  .diagonal.bun-bottom {
    position: relative;
    float: left;
    margin-top: .5rem;
  }

  input[type=checkbox]:checked~.hamburger-spin> {
    .horizontal {
      opacity: 0;
    }

    .diagonal.bun-top {
      transform: rotate(135deg);
      margin-top: .75rem;
    }

    .diagonal.bun-bottom {
      transform: rotate(-135deg);
      margin-top: -1rem;
    }
  }
}

@media only screen and (max-width: 415px) {
  .nav-bar {
    align-items: center;
    bottom: 20px;
    flex-wrap: wrap;
    height: 3.5rem;
    justify-content: center;
    padding-bottom: 0;
    position: fixed;
    right: 20px;
    transition-property: height, width;
    transition-duration: .5s;
    width: 3.5rem;
    z-index: 100;
  }

  .hamburger-box {
    display: inherit;
    position: relative;
  }

  .invisible-links-wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 18pt;
    height: 0;
    justify-content: flex-end;
    overflow: hidden;
    padding-bottom: 2em;
    position: absolute;
    width: 0;
    transition: height .5s;
  }

  .nav-link {
    margin-top: 1em;
  }
}